<div id="tabview-controls-container">
    <div id="tabview-controls">
        <ul>
            <li><a class="tab-color" href="#tab-palette">Style</a></li>
            <li><a class="tab-schemes" href="#tab-schemes">Schemes</a></li>
            <li><a href="#tab-modules">Items</a></li>
            <li><a class="tab-code" href="#tab-code">Code</a></li>
        </ul>
        <h3 id="skin-preview-header" class="preview-label rotate">Skin Preview</h3>
        <div>
            <div id="tab-palette" class="yui3-g">
                <div class="yui3-u">
                    <div class="contents">
                        <p>
                        <div class="bucket bucket-picker bucket-highest" title="Click to edit 'Master' color">
                            <img src="assets/images/picker_icon.png"/>
                            Edit Master Color...
                        </div>
                        </p>
                        <div class="bucket bucket-picker bucket-page" title="Click to edit Page/Container Color">
                            <img src="assets/images/picker_icon.png"/>
                            Edit Page Color...
                        </div>
                        <p><div class="help wpR help-color-buttons">?</div></p>

                    </div>
                </div>
                <div class="yui3-u">
                    <div class="contents contents-middle">
                        <div class="markup slider-markup-horiz-padding">
                            <label class="preview-label">Horiz. padding: 100%</label><a class="reset reset-padding-horiz">Reset</a>
                            <div id="slider-padding-horiz"></div>
                        </div>
                        <div class="markup slider-markup-border-radius">
                            <label class="preview-label">Border-radius: 100%</label><a class="reset reset-radius">Reset</a>
                            <div id="slider-radius"></div>
                        </div>
                        <div class="markup slider-markup-text-contrast">
                            <label class="preview-label">Text Contrast: 150</label><a class="reset reset-text-contrast">Reset</a>
                            <div id="slider-text-contrast"></div>
                        </div>
                    </div>
                </div>
                <div class="yui3-u">
                    <div class="contents contents-right">
                        <div class="markup slider-markup-vert-padding">
                            <label class="preview-label">Vert. padding: 100%</label>
                            <div id="slider-padding-vert"></div>
                            <a class="reset reset-padding-vert">Reset</a>
                        </div>
                    </div>
                </div>
                <div class="yui3-u">
                    <div class="help help-style">?</div>
                    <div class="contents feedback-column">
                        <div id="feedback-box">
                            <div>Sample</div>
                        </div>
                    </div>
                </div>
            </div>







            <div id="tab-schemes">
                <ul class="scheme-radios">
                    <li class="pick">
                        <input id="monochrome" type="radio" checked="checked"/>
                        <label for="monochrome">
                            <ul class="swatches">
                                <li></li><li></li><li></li><li></li>
                            </ul>
                            Monochrome
                        </label>
                    </li>
                    <li class="pick">
                        <input id="color-plus-gray" type="radio"/>
                        <label for="color-plus-gray">
                            <ul class="swatches">
                                <li></li><li></li><li></li><li></li>
                            </ul>
                            Color Plus Gray
                        </label>
                    </li>
                    <li class="pick">
                        <input id="complementary" type="radio"/>
                        <label for="complementary">
                            <ul class="swatches">
                                <li></li><li></li><li></li><li></li>
                            </ul>
                            Complementary
                        </label>
                    </li>
                    <li class="pick">
                        <input id="dark-complementary" type="radio"/>
                        <label for="dark-complementary">
                            <ul class="swatches swatches-dark">
                                <li></li><li></li><li></li><li></li>
                            </ul>
                            Dark Complementary
                        </label>
                    </li>
    <!--  this is needed for night simulation. add when ready. Also define in colorspace-schemes.js -->             
                    <li class="pick">
                        <input id="dark-monochrome" type="radio"/>
                        <label for="dark-monochrome">
                            <ul class="swatches swatches-dark">
                                <li></li><li></li><li></li><li></li>
                            </ul>
                            Dark Monochrome
                        </label>
                    </li>
    <!--needed for custom color schemes-->
                    <li class="pick custom">
                        <input id="custom" type="radio"/>
                        <label for="custom">
                            <ul class="swatches swatches">
                                <li></li><li></li><li></li><li></li>
                            </ul>
                            Create Custom Scheme
                        </label>
                    </li>
                    <li>
                        <div class="help help-schemes">?</div>
                    </li>
                </ul>

            </div>
            <div id="tab-modules">
                Select which Widgets or Modules to skin and preview
                <div class="help help-items">?</div>
                <div id="checkboxes-yui-widgets-group">
                    <h4 class="preview-label">YUI Widgets<a class="show-hide-all btn-widget">Remove All</a></h4>
                    <ul id="checkboxes-widget">
                        <!-- lis added dynamically at runtime. see app.js initPreviewAndModulesCheckboxes() -->
                    </ul>
                </div>
                <div id="checkboxes-yuicss-group"> <!-- just for hiding until ready -->
                    <h4 class="preview-label">Pure<a class="show-hide-all btn-yuicss">Remove All</a></h4>
                    <ul id="checkboxes-yuicss">
                        <!-- lis added dynamically at runtime. see app.js initPreviewAndModulesCheckboxes() -->
                    </ul>
                </div>
                <div class="query-mode-change link-skin-builder-for-yui3">Show <a>YUI Widgets</a></div>
                <div class="query-mode-change link-skin-builder-for-yuicss">Show <a>Pure Modules</a></div>
            </div>
            <div id="tab-code">
                <div class="yui3-g" id="layout">
                    <div class="yui3-u-1-2" id="out-style">
                        <div class="contents">
                            <label class="tab-code-textarea-label">
                                Copy CSS for selected Widgets/Modules
                            </label>
                            <div class="help help-code">?</div>
                            <label class="hint skin-name-label" title="Change the Skin classname. (you'll need to change the class in the body tag to match)">
                                <input class="inp-skin-prefix" value=".yui3-" title="Change the Skin classname prefix. You'll need to change the classnames in your markup to match. Skin Builder preview may give up without '.yui3-', but you'll be able to copy CSS from below."/>skin-
                            </label>
                            <input class="inp-skin-name" value="mine" title="Change the Skin classname. (you'll need to change the class in the body tag to match)"/>
                            <textarea id="textarea-style"></textarea>
                        </div>
                    </div>
                    <div class="yui3-u-1-2" id="out-scheme">
                        <div class="contents">
                            <button id="btn-get-url" class="yui3-button"><span>&#8734;</span> Link</button>
                            <label class="tab-code-textarea-label"> Paste link in email or IM</label>
                            <div class="help help-settings">?</div>
                            <input type="text" id="inp-url-link"/>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <!--  detail palette preview, color picker, and scheme adjusting panels markup  -->
        <div id="preview-palette">
            <label>Preview color palette details</label>
            <!-- <ul>
                <li class="block-highest" title="highest"></li>
                <li class="block-high" title="high"></li>
                <li class="block-normal" title="normal"></li>
                <li class="block-low" title="low"></li>
                <li class="background" title="lowest"></li>
                <li class="block-page" title="page background"></li>
            <ul> -->
        </div>
    </div>


    <div id="palette-outer">
        <div class="grip"></div>
        <img class="close" src="assets/images/close.png" width="18" height="18" />
        <label>Detailed preview of the palette of colors used for skinning</label>
        <div class="help help-detailed-preview">?</div>
        <div class="color-space">
            <ul>
                <li class="block block-highest block-highest-border" title="Highest / Master Color">
                    <div class="text block-highest-text-low">text.low</div>
                    <div class="text block-highest-text-normal">text.normal</div>
                    <div class="text block-highest-text-high">text.high</div>
                    <div class="rule block-highest-rule-low"></div>
                    <div class="rule block-highest-rule-high"></div>
                    <div class="bucket bucket-picker bucket-highest" title="Click to edit 'Master' color"></div>
                    <div class="gradient"></div>
                </li>
                <li class="block block-high block-high-border" title="High">
                    <div class="text block-high-text-low">text.low</div>
                    <div class="text block-high-text-normal">text.normal</div>
                    <div class="text block-high-text-high">text.high</div>
                    <div class="rule block-high-rule-low"></div>
                    <div class="rule block-high-rule-high"></div>
                    <div class="bucket bucket-scheme bucket-high bucket-scheme-hidden" title="Click to adjust this scheme Color"></div>
                    <div class="gradient"></div>
                </li>
                <li class="block block-normal block-normal-border" title="Normal">
                    <div class="text block-normal-text-low">text.low</div>
                    <div class="text block-normal-text-normal">text.normal</div>
                    <div class="text block-normal-text-high">text.high</div>
                    <div class="rule block-normal-rule-low"></div>
                    <div class="rule block-normal-rule-high"></div>
                    <div class="bucket bucket-scheme bucket-normal bucket-scheme-hidden" title="Click to adjust this scheme Color"></div>
                    <div class="gradient"></div>
                </li>
                <li class="block block-low block-low-border" title="Low">
                    <div class="text block-low-text-low">text.low</div>
                    <div class="text block-low-text-normal">text.normal</div>
                    <div class="text block-low-text-high">text.high</div>
                    <div class="rule block-low-rule-low"></div>
                    <div class="rule block-low-rule-high"></div>
                    <div class="bucket bucket-scheme bucket-low bucket-scheme-hidden" title="Click to adjust this scheme Color"></div>
                    <div class="gradient"></div>
                </li>
                <li class="block background" title="Lowest">
                    <div class="text text-low">text.low</div>
                    <div class="text text-normal">text.normal</div>
                    <div class="text text-high">text.high</div>
                    <div class="rule rule-low"></div>
                    <div class="rule rule-high"></div>
                    <div class="bucket bucket-scheme bucket-lowest bucket-scheme-hidden" title="Click to adjust this scheme Color"></div>
                    <div class="gradient"></div>
                </li>
                <li class="block block-page block-page-border" title="Page or Container Colors">
                    <div class="text block-page-text-low">text.low</div>
                    <div class="text block-page-text-normal">text.normal</div>
                    <div class="text block-page-text-high">text.high</div>
                    <div class="rule block-page-rule-low"></div>
                    <div class="rule block-page-rule-high"></div>
                    <div class="bucket bucket-picker bucket-page" title="Click to edit Page/Container Color"></div>
                </li>
            </ul>


        </div> <!-- end of .color-space  -->
    </div>
    <div id="picker-outer">
        <div class="grip"></div>
        <img class="close" src="assets/images/close.png" width="18" height="18" />
        <div id="picker">
        <div id="hs">
            <img src="assets/images/hue_sat.jpg" width="180" height="180"/>
            <div id="hs-dot"><div>&#8226;</div></div>
        </div>
        <div id="sliderL">
            <img src="assets/images/lightness.jpg" width="20" height="180">
            <div id="sliderL-line"></div>
        </div>
        <div class="picker-swatch">
            <input type="text" class="picker-input" value="hello"/>
        </div>
        </div>
    </div>

    <div id="schemer-outer">
        <div class="grip"></div>
        <div class="schemer-hint">
        Define this scheme color by adjusting its differences from the Master color.
        </div>
        <div class="yui3-g">
            <div class="yui3-u-1-12">
                <div class="content">
                    <div class="schemer-key" title="The master color">
                    </div>
                </div>
            </div>

            <div class="yui3-u-1-6">
                <div class="content content-arrow">
                    <!-- <div class="arrow-stem"></div> --><div class="arrow-head"></div>
                </div>
            </div>
            
            <div class="yui3-u-1-2">
                <div class="content-controls">
                    <div id="dial-scheme-hue"></div>
                    <div class="slider-markup">
                        <label>Saturation: </label> <span class="sat-output">4</span>
                        <div id="slider-scheme-sat"></div>
                    </div>
                    <div class="slider-markup">
                        <label>Lightness: </label> <span class="lit-output">2</span>
                        <div id="slider-scheme-lit"></div>
                    </div>
                </div>
            </div>
            
            <div class="yui3-u-1-6">
                <div class="content content-arrow">
                    <!-- <div class="arrow-stem"></div> --><div class="arrow-head"></div>
                </div>
            </div>
            
            <div class="yui3-u-1-12">
                <div class="content">
                    <div class="schemer-swatch" title="This scheme color">
                    </div>
                </div>
            </div>
        </div>            

        <img class="close" src="assets/images/close.png" width="18" height="18" />
    </div>
    <div id="help-panel">
        <img class="close" src="assets/images/close.png" width="18" height="18" />
        <div class="bd">
            help panel l;ksad eoiwr jsfoie jeofiwj eo
        
        </div>
    </div>



</div><!-- end tabview-controls-container for fixed position -->
