<!-- Pure Markup -->

    <li class="sb-preview-form"><div class="widget-preview-label">Forms - Checkboxes and Radios</div>
        <form class="pure-form">
        <label class="pure-checkbox">
        <input type="checkbox" value="">
        Checkbox option 
        </label>
        <label class="pure-radio">
        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
        Radio button choice
        </label>
        <label class="pure-radio">
        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
        Radio other choice 
        </label>
        </form>
    </li>

    <li class="sb-preview-form double-wide"><div class="widget-preview-label">Default Inline Form</div>
        <form class="pure-form">
        <fieldset>
        <legend>Legend</legend>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <label>
        <input type="checkbox"> Opt in
        </label>
        <button class="pure-button" type="submit">Sign in</button>
        </fieldset>
        </form>
    </li>

    <li class="sb-preview-form"><div class="widget-preview-label">Aligned Form</div>
        <form class="pure-form pure-form-aligned">
        <fieldset>
        <div class="pure-control-group">
        <label>Username</label>
        <input type="text" placeholder="Username">
        </div>

        <div class="pure-control-group">
        <label>Password</label>
        <input type="password" placeholder="Password">
        </div>

        <div class="pure-control-group">
        <label>Email Address</label>
        <input type="text" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
        <label>Disabled</label>
        <input type="text" disabled="" placeholder="Disabled input here..."/>
        </div>

        <div class="pure-controls">
        <label class="pure-checkbox">
        <input type="checkbox"> Check me out
        </label>
        <button class="pure-button" type="submit">Submit</button>
        </div>
        </fieldset>
        </form>
    </li>        
    <li class="sb-preview-form"><div class="widget-preview-label">Form - Stacked</div>
        <form class="pure-form pure-form-stacked">
        <fieldset>
        <legend>Legend</legend>
        <label>Full Name</label>
        <input type="text">
        <aside class="pure-form-message">Block help text</aside>
        <label>E-Mail</label>
        <input type="email" required="">
        <aside class="pure-form-message-inline">Required</aside>
        <label>State</label>
        <select class="pure-input-medium">
        <option>AL</option>
        <option>CA</option>
        <option>IL</option>
        <option>MD</option>
        <option>NY</option>
        </select>
        <label class="pure-checkbox">
        <input type="checkbox"> I've read the terms and conditions
        </label>
        <button class="pure-button notice" type="submit">Submit</button>
        </fieldset>
        </form>        
    </li>
    <li class="sb-preview-form"><div class="widget-preview-label">Form - Grouped Inputs</div>
        <form class="pure-form">
        <fieldset class="pure-group">
        <input type="text" placeholder="Username" class="pure-input-1-2">
        <input type="text" placeholder="Password" class="pure-input-1-2">
        <input type="text" placeholder="Email" class="pure-input-1-2">
        </fieldset>
        <fieldset class="pure-group">
        <input type="text" placeholder="Another Group" class="pure-input-1-2">
        <input type="text" placeholder="More Stuff" class="pure-input-1-2">
        </fieldset>
        <button class="pure-button pure-input-1-2" type="submit">Sign in</button>
        </form>
    </li>        
    <li class="sb-preview-form"><div class="widget-preview-label">Rounded Form</div>
        <form class="pure-form">
        <input type="text" class="pure-input-rounded">
        <button class="pure-button" type="submit">Search</button>
        </form>
    </li>        

    <li class="sb-preview-buttons"><div class="widget-preview-label">Buttons</div>
        <p>
            <button class="pure-button">Start</button>
        </p>
            <button class="pure-button pure-button-primary">Primary</button>
    </li>

    <li class="sb-preview-table"><div class="widget-preview-label">Tables - Default</div>
        <table class="pure-table">
        <thead>
        <tr>
        <th>#</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>1</td>
        <td>Dodge</td>
        <td>Ram 1500</td>
        <td>2010</td>
        </tr>
        <tr>
        <td>2</td>
        <td>Honda</td>
        <td>Accord</td>
        <td>2009</td>
        </tr>
        <tr>
        <td>3</td>
        <td>Tesla</td>
        <td>Model S</td>
        <td>2013</td>
        </tr>
        </tbody>
        </table>
    </li>
    <li class="sb-preview-table"><div class="widget-preview-label">Table - Bordered</div>
        <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
        <th>#</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>1</td>
        <td>Dodge</td>
        <td>Ram 1500</td>
        <td>2010</td>
        </tr>
        <tr>
        <td>2</td>
        <td>Honda</td>
        <td>Accord</td>
        <td>2009</td>
        </tr>
        <tr>
        <td>3</td>
        <td>Tesla</td>
        <td>Model S</td>
        <td>2013</td>
        </tr>
        </tbody>
        </table>
    </li>
    <li class="sb-preview-table"><div class="widget-preview-label">Table - Horizontal</div>
        <table class="pure-table pure-table-horizontal">
        <thead>
        <tr>
        <th>#</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>1</td>
        <td>Dodge</td>
        <td>Ram 1500</td>
        <td>2010</td>
        </tr>
        <tr>
        <td>2</td>
        <td>Honda</td>
        <td>Accord</td>
        <td>2009</td>
        </tr>
        <tr>
        <td>3</td>
        <td>Tesla</td>
        <td>Model S</td>
        <td>2013</td>
        </tr>
        </tbody>
        </table>
    </li>
    <li class="sb-preview-table"><div class="widget-preview-label">Table - Striped</div>
        <table class="pure-table pure-table-horizontal">
        <thead>
        <tr>
        <th>#</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr class='pure-table-odd'>
        <td>1</td>
        <td>Dodge</td>
        <td>Ram 1500</td>
        <td>2010</td>
        </tr>
        <tr>
        <td>2</td>
        <td>Honda</td>
        <td>Accord</td>
        <td>2009</td>
        </tr>
        <tr class='pure-table-odd'>
        <td>3</td>
        <td>Tesla</td>
        <td>Model S</td>
        <td>2013</td>
        </tr>
        </tbody>
        </table>
    </li>
    <li class="sb-preview-list double-wide"><div class="widget-preview-label">Menus - Horizontal Menu</div>
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading">Site Title</a>
            <ul>
                <li><a>Home</a></li>
                <li class="pure-menu-selected"><a>Flickr</a></li>
                <li><a>Sports</a></li>
                <li><a>Mail</a></li>
                <li class="pure-menu-disabled"><a>Disabled</a></li>
            </ul>
        </div>
    </li>
    <li class="sb-preview-list"><div class="widget-preview-label">Menus - Vertical Menu</div>
        <div class="pure-menu pure-menu-open">
        <ul>
        <li class="pure-menu-heading">Yahoo! Sites</li>
        <li><a>Home</a></li>
        <li class="pure-menu-selected"><a>Flickr</a></li>
        <li><a>Messenger</a></li>
        <li><a>Sports</a></li>
        <li class="pure-menu-separator"></li>
        <li><a>Finance</a></li>
        </ul>
        </div>
    </li>
<!--
    <li class="sb-preview-list"><div class="widget-preview-label">List - Fixed Menu</div>
        <a id="btn-toggle-fixed-menu" class="pure-button">Show / Hide A Fixed Menu</a>
        <div class="pure-menu pure-menu-horizontal pure-menu-fixed">
        <ul class="pure-menu-dark">
        <li class="pure-menu-selected"><a>Home</a></li>
        <li><a>Github</a></li>
        <li><a>Gallery</a></li>
        <li><a>YUI</a></li>
        </ul>
        </div>
    </li>
-->
    <li class="sb-preview-list"><div class="widget-preview-label">Menus - Paginator</div>
        <ul class="pure-paginator">
        <li><a class="pure-button prev">&#171;</a></li>
        <li><a class="pure-button">1</a></li>
        <li><a class="pure-button pure-button-selected">2</a></li>
        <li><a class="pure-button">3</a></li>
        <li><a class="pure-button next">&#187;</a></li>
        </ul>
    </li>

<!-- End of Pure Markup /-->
