<!-- YUI Widgets Markup -->

    <li class="sb-preview-button"><div class="widget-preview-label widget-preview-label-button">Button</div>
        <button class="checkbox yui3-button yui3-button-selected" id="yui_3_6_0_1_1343853873543_37">Button 3</button>
        <button class="checkbox yui3-button" id="yui_3_6_0_1_1343853873543_37">Button 3</button>
        <p>
        <button class="yui3-button-disabled yui3-button" id="myDisabledButton" disabled="">Disabled</button>
    </li>
    <li class="sb-preview-autocomplete"><div class="widget-preview-label">AutoComplete</div>
        <div id="my-autocomplete">
            <label for="ac-input" class="block-page-text-normal">Enter the name of a US state:</label><br>
            <input id="ac-input" type="text">
        </div>
    </li>
    <li class="sb-preview-tabview"><div class="widget-preview-label">TabView</div>
        <div id="tabview">
            <ul>
                <li><a href="#foo">foo</a></li>
                <li><a href="#bar">bar</a></li>
                <li><a href="#baz">baz</a></li>
            </ul>
            <div>
                <div id="foo">foo content is here when the foo tab is selected. This is the place for the tab contents.</div>
                <div id="bar">bar content is bar bar bar bar bar bar bar bar bar This is correct for this bar contents.</div>
                <div id="baz">baz belongs here and it appears when the baz tab is selected, just as it should.</div>
            </div>
        </div>
    </li>
    <li class="sb-preview-datatable"><div class="widget-preview-label">DataTable</div>
        <div id="datatable"></div>
    </li>
    <li class="sb-preview-scrollview"><div class="widget-preview-label">ScrollView Vert.</div>
        <div id="scrollview-content" class="yui3-scrollview-loading">
            <ul>
                <li>Dog</li>
                <li>Cat</li>
                <li>Bird</li>
                <li>Fish</li>
                <li>Snake</li>
                <li>Turtle</li>
                <li>Horse</li>
                <li>Cow</li>
                <li>Chicken</li>
                <li>Alligator</li>
                <li>Seal</li>
                <li>Pelican</li>
                <li>Lizard</li>
                <li>Salmon</li>
                <li>Whale</li>
                <li>Frog</li>
                <li>Eagle</li>
                <li>Pig</li>
            </ul>
        </div>
    </li>
    <!-- <li class="sb-preview-scrollview"><div class="widget-preview-label">ScrollView Horiz.</div>
        <div id="scrollview-content-horiz" class="yui3-scrollview-loading">
            <ul>
                <li>Dog</li><li>Cat</li><li>Bird</li><li>Fish</li><li>Snake</li><li>Turtle</li><li>Horse</li><li>Cow</li><li>Chicken</li><li>Alligator</li><li>Seal</li><li>Pelican</li><li>Lizard</li><li>Salmon</li><li>Whale</li><li>Frog</li><li>Eagle</li><li>Pig</li>
            </ul>
        </div>
    </li> -->
    <li class="sb-preview-dial"><div class="widget-preview-label">Dial</div>
        <div id="dial"></div>
    </li>
    <li class="sb-preview-nodeMenunav"><div class="widget-preview-label">Menu Nav Top (Deprecated)</div>
        <div id="node-menunav" class="yui3-menu yui3-menu-horizontal"><!-- Bounding box -->
            <div class="yui3-menu-content"><!-- Content box -->
                <ul>
                    <!-- Menu items -->
                    <li class="yui3-menuitem" role="presentation">
                        <a href="#actors" class="yui3-menu-label" role="menuitem" aria-haspopup="true" tabindex="0">Actors</a>
                        <div id="actors" class="yui3-menu yui3-menu-hidden" role="menu" aria-labelledby="yui_3_7_2_1_1350426637135_31" aria-hidden="true" style="height: 178px; width: 134px;">
                            <div class="yui3-menu-content" role="presentation">
                                <ul role="presentation" class="first-of-type">
                                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem">Mother Pig</a></li>
                                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem">Pig 1</a></li>
                                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem">Pig 2</a></li>
                                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem">Pig 3</a></li>
                                </ul>
                                <ul role="presentation">
                                    <li class="yui3-menuitem" role="presentation">
                                        <a href="#your-yahoo" class="yui3-menu-label" role="menuitem" aria-haspopup="true" tabindex="0">Wolf</a>
                                        <div id="your-yahoo" class="yui3-menu yui3-menu-hidden" role="menu" aria-labelledby="yui_3_7_2_1_1350426637135_31" aria-hidden="true" style="height: 178px; width: 134px;">
                                            <div class="yui3-menu-content" role="presentation">
                                                <ul role="presentation" class="first-of-type">
                                                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem">Access Protocol</a></li>
                                                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem">Huffing</a></li>
                                                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem">Puffing</a></li>
                                                </ul>
                                                <ul role="presentation">
                                                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem">Breath Control</a></li>
                                                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem">Anger Management</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                     </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-menuitem" role="presentation"><a class="yui3-menuitem-content" role="menuitem" tabindex="0">Straw</a></li>
                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem" tabindex="0">Sticks</a></li>
                    <li class="yui3-menuitem" role="presentation"><a hrefxxx="" class="yui3-menuitem-content" role="menuitem" tabindex="0">Bricks</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="sb-preview-nodeMenunav"><div class="widget-preview-label">Split Button Nav Top (Deprecated)</div>
        <div id="node-menunav-split" class="yui3-menu yui3-menu-horizontal yui3-splitbuttonnav"><!-- Bounding box -->


            <div class="yui3-menu-content"><!-- Content box -->
                <ul>
                    <li>

                        <span class="yui3-menu-label"><!-- menu label root node -->
                            <a hrefxxx="">Answers</a><!-- menu label default action -->
                            <a href="#answers-options" class="yui3-menu-toggle">Answers Options</a><!-- menu label submenu toggle -->
                        </span>

                        <div id="answers-options" class="yui3-menu">
                            <div class="yui3-menu-content">
                                <ul>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" hrefxxx="">Answer</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" hrefxxx="">Answers on the Street</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" hrefxxx="">Ask</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" hrefxxx="">Discover</a></li>
                                </ul>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="sb-preview-slider"><div class="widget-preview-label">Slider Horiz.</div>
        <div id="slider-report" class="block-page-text-normal">0</div>
        <div id="slider"></div>
        <!--<div id="slider-y"></div> vertical slider tested OK, then removed -->
    </li>
    <li class="sb-preview-calendar"><div class="widget-preview-label">Calendar</div>
        <div id="mycalendar"></div>
    </li>
    <li class="sb-preview-panel"><div class="widget-preview-label">Panel</div>
        <div id="anchorPanel"></div>
        <div id="panelContent">
            <div class="yui3-widget-bd">
                <form>
                    <label for="productId">ID</label>
                    <input type="text" name="id" id="productId" placeholder="">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="" placeholder="">
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price" value="" placeholder="$">
                </form>
            </div>
        </div>
    </li>
    <li class="sb-preview-overlay"><div class="widget-preview-label">Overlay</div>
        <div id="anchorOverlay"></div>
        <div id="overlayContent">
            <div class="yui3-widget-hd">Overlay Header</div>
            <div class="yui3-widget-bd">Overlay Body</div>
            <div class="yui3-widget-ft">Overlay Footer</div>
        </div>
    </li>

<!-- End of YUI Widgets Markup /-->
