<!doctype html>
<html lang="en" class='page-background'>
<head>
<meta charset="utf-8">
<title>Skin Builder</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/3.9.1/build/cssnormalize/cssnormalize-min.css">
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/3.9.1/build/cssgrids/grids-min.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body class="yui3-skin-mine pure-skin-mine yui3-loading">

    <div class="splash hero">
        <h1>YUI Skin Builder</h1>
        <h2>An App for Generating Custom Skin CSS</h2>
        <div id="spinner"></div>
    </div>

    <!-- Mega container div to hide contents of page until done loading -->
    <div class="mega">

        <div id="log" class="yui3-skin-sam"></div><!-- console log for functional testing feedback -->

        <div id="headerMenu">
            <ul>
                <li><a class="heading-main-ui">YUI Skin Builder</a></li>
                <li><a class="tag-line">An App for Generating Custom Skin CSS</a></li>
                <li><a href="docs.html">Documentation</a></li>
                <li><a href="https://github.com/yui/skinbuilder/issues">File an issue</a></li>
            </ul>
        </div>

        {{> controls}}

        <!-- this UL is the container for all previewed widgets -->
        <ul id="widget-container">
            {{> widgets}}
            {{> pure}}
        </ul>
        <!-- end of container for widget previews -->

    </div>
    <!-- Close Mega container div to hide contents of page until done loading -->

    <script>
    {{{state}}}
    app.yui.use('skinner', function (Y) {
        Y.Skinner.runUnitTests();
        Y.Skinner.initFromQuery();
    });
    </script>

</body>
</html>
